.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-dark: #333333;
  --basic-brown: #766357;
  --basic-grey: #F2F2F2;
  --bright: #81B3D2;

  --form-background: #888888;
  
  --button-brown-hover:#604E43;
  --button-brown-active:#503E33;
  
  --bright-hover: #669EC0;
  --bright-active: #5496BD;

  --light-grey: #EEEEEE;
  --grey-hover: #EBEBEB;
  --light-brown: #A9A9A9; 
  --footer-color: rgba(255, 255, 255, 0.9);
  --white-active: rgba(255, 255, 255, 0.3);
  --arrow-up: #CACACA;

  --rating-color: #666666;

  --logo-normal-background: #231F20;
  --logo-pressed-background: #BDBBBC;

  --black-with-opacity: rgba(0, 0, 0, 0.3);
  --form-shadow-color: rgba(0, 1, 1, 0.15);
  --pages-shadow: rgba(0, 1, 1, 0.2);
  --border-color: #E5E5E5;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-grey);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: none;
}


/* Grid */

html {
  height: 100%;
}

.main-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--basic-white); 
  box-shadow: 0px 5px 15px var(--pages-shadow);
}

.container {
  width: 1054px;
  margin-left: auto;
  margin-right: auto;
}
/* Main navigation */

.main-navigation {
  position: relative;

  font-size: 14px; /*Может это не нужно, отнаследуется от body?*/
  line-height: 26px; /*Может это не нужно, отнаследуется от body?*/
  color: var(--basic-black);
  background-position: center;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
}

.site-navigation {
  display: flex;
  align-items: center;
  width: auto;
  min-height: 56px;
  padding-left: 72px;
  padding-right: 72px;
  margin: 0;
  list-style: none;
}

.site-navigation li {
  flex-basis: 100%; 
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3) {
  margin-left: 138px;
}

.site-navigation li:nth-child(3) ,
.site-navigation li:last-child {
  text-align: right;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}

/* User navigation */

.site-navigation a {
  display: block;
  color: var(--basic-black);
}

.nav-link:visited {
  color: var(--black-with-opacity);
}

.nav-link:focus {
  color: var(--bright);
}

.nav-link:hover {
  color: var(--bright);
}

.nav-link:active {
  color: var(--black-with-opacity);
}

/*Index page-Main*/

.background-photo {
  height: 509px;
  background-image: 
    url("../img/zigzag.svg"),
    url("../img/background_photo_index.jpg");
  background-repeat: no-repeat;
  background-position: center bottom -2px, center top;
}

.background-photo img {
  display: block;
  width: 459px;
  margin: 0 auto;
  padding-top: 75px;
}

/*Features*/

.features {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.features-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 43px;
  margin-bottom: 42px;
  margin-left: 365px;
  margin-right: 365px;
}

.features-main p {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.features-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 53px;
  margin-left: 340px;
  margin-right: 341px;
}

.features-show h2 {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-dark);
}

.features-list-first {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 0;
}

.first-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  min-height: 256px;
  margin: 0;
  position: relative;
}

.first-feature::after {
  content: "";
  position: absolute;
  background-image: url("../img/image_1_index.jpg");
  width: 800px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 400px;
}

.features-list-light {
  color: var(--basic-white);
  background-color: var(--bright);
}

.feature-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
}

.first-feature .feature-title {
  padding-top: 47px;
  display: flex;
  flex-wrap: wrap;
  width: 122px;
}

.first-feature .feature-description {
  display: flex;
  flex-wrap: wrap;
  width: 297px;
}

.feature-number {
  margin-top: 0;
  margin-bottom: 23px;
}

.feature-description {
  margin: 0;
}

.feature-number,
.feature-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.feature-item-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 330px;
  padding: 0;
 
  list-style: none;
  background-color: var(--basic-white);
}

.feature-item-list-house {
  width: 254px;
  margin-top: 160px;
  margin-bottom: 0;
  margin-left: 73px;
  margin-right: 124px;
}

.feature-item-list-food {
  width: 297px;
  margin-top: 160px;
  margin-bottom: 0;
  margin-right: 118px;
}

.feature-item-list-souvenirs {
  margin-top: 160px;
  margin-bottom: 0;
  width: 269px;
}

.house,
.food,
.souvenirs {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
}

.feature-item-list p {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark);
}

.house::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon_house.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  top: -100px;
  right: 90px;
}

.food::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon_food.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 70px;
  top: -99px;
  right: 112px;
}

.souvenirs::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon_souvenirs.svg");
  background-repeat: no-repeat;
  width: 64px;
  height: 77px;
  top: -104px;
  right: 103px;
}

.second-feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  min-height: 256px;
  margin: 0;
  margin-left: auto;
  position: relative;
}

.second-feature::before {
  content: "";
  position: absolute;
  background-image: url("../img/image_2_index.jpg");
  width: 800px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  right: 400px;
}

.second-feature .feature-title {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}

.second-feature .feature-description {
  display: flex;
  flex-wrap: wrap;
  width: 301px;
}

.features-list-second {
  display: flex;
  flex-wrap: wrap;
  min-height: 256px;
  width: 100%;

  list-style: none;
  background-color: var(--light-grey);
  padding: 0;
  margin: 0;
}

.features-list-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-top: 47px;
  padding-bottom: 54px;
}

.features-list-dark .feature-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 119px;

  font-size: 21px;
  line-height: 21px;
}

.features-list-dark .feature-description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 258px;
}

.features-list-dark .feature-description,
.features-list-dark .feature-number {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark);
}

.interesting-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 233px;
  margin-top: 58px;
  margin-bottom: 0;
  margin-left: 316px;
  margin-right: 316px;
  align-items: center;
}

.interested-title {
  text-align: center;
  margin: 0;
  font-size: 30px;
  line-height: 24px;
}

.interested-text {
  text-align: center;
  padding: 0;
  padding-top: 18px;
  line-height: 24px;
  color: var(--basic-dark);
  font-weight: normal;
}

/*Button navigation*/

.search-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 568px;
  min-height: 86px;
  padding: 30px 124px 30px 125px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  border: none;
  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  background-color: var(--button-brown-hover);
}

.search-button:active {
  color: var(--white-active);
  background-color: var(--button-brown-active);
}

/*Hotel search form*/

.search-form-container {
  position: absolute;
  width: 1200px;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 458px;
  min-height: 285px;
  padding: 55px 55px;
 
  background: var(--basic-white);
  box-shadow: 0px 7px 15px var(--form-shadow-color);
}

.search-item .check-in {
  margin-top: 0;
  margin-bottom: 0;
}

.search-item-guests {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-bottom: 54px;
}

.guests {
  width: 100%;
  min-width: 226px;
}

.adults-label {
  margin-right: 40px;
}

.children-label {
  margin-left: auto;
}

.search-item-guests .guests {
  margin-top: 0;
  margin-bottom: 0;
}

.search-form:nth-last-child(-1) {
  margin-top: 0;
  margin-bottom: 0;
}

.check-out {
  margin: 0;
}

.check-in input,
.check-out input {
  width: 296px;
  height: 38px;
  padding: 0;
  padding-left: 12px;
  margin-left: auto;

  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.check-in input::-moz-placeholder,
.check-out input::-moz-placeholder {
  color: var(--basic-black);
}

.check-in input::-webkit-input-placeholder,
.check-out input::-webkit-input-placeholder {
  color: var(--basic-black);
}

.guests input {
  width: 38px;
  height: 38px;
  padding: 0;
  text-align: center;

  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.search-item {
  min-width: 458px;
  margin-top: 0;
  margin-bottom: 30px;
  justify-self: center;
}

.search-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-fields label {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
}

.search-fields input {
  background-color: var(--basic-grey);
  border: none;
}

.search-fields input:hover {
  background-color: var(--grey-hover);
}

.search-fields input:focus {
  background: var(--basic-white);
  border: 2px solid var(--border-color);
  box-sizing: border-box;
}

.btn-minus-children {
  margin-left: 28px;
}

.btn-minus-adults {
  margin-left: auto;
}

.button-minus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-minus,
.button-plus {
  width: 38px;
  height: 38px;
  padding: 0;
}

.button-calendar {
  width: 38px;
  height: 38px;
  padding: 0;
  border: none;
}

.button-minus,
.button-plus,
.button-calendar {
  fill: var(--light-brown);
  background-color: var(--basic-grey);
  border: none;
  cursor: pointer;
}

.button-minus:hover rect,
.button-minus:focus rect,
.button-plus:hover path,
.button-plus:focus path,
.button-calendar:hover path,
.button-calendar:focus path {
  fill: var(--basic-black);
}

.button-minus:active rect,
.button-plus:active path,
.button-calendar:active path {
  fill: var(--bright);
} 

.submit-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 458px;
  min-height: 58px;
  padding: 16px;
  margin: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--bright);
  border: none;
  cursor: pointer;
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--bright-hover);
}

.submit-button:active {
  color: var(--white-active);
  background-color: var(--bright-active);
}

.map {
  margin-bottom: -120px;
  height: 594px;
}

/* Footer */

.main-footer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 120px;

  color: var(--basic-black);
  background-color: var(--footer-color);
}

.footer-contacts {
  display: grid;
  margin: 0;
  margin-top: 23px;
  margin-left: 75px;
  margin-bottom: 36px;
  gap: 9px;
  text-align: center;
}

.footer-contacts p {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.footer-contacts a {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--bright);
  text-decoration: none;
}

.footer-social {
  width: 156px;
  justify-self: center;
  align-items: center;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 30px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 150px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.footer-social li {
  margin-right: 6px;
  margin-bottom: 6px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  
  text-decoration: none;
  width: 46px;
  height: 48px;
  background-color: var(--bright);
}

.footer-social li:last-child {
  margin-right: 0px;
}

.social-button:focus {
  background-color: var(--bright-hover);
}

.social-button:hover {
  background-color: var(--bright-hover);
}

.social-button:active path{
  background-color: var(--bright-active);
  fill: var(--white-active);
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 327px;
  margin: 0;
  margin-top: 38px;
  margin-bottom: 41px;

  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.logo-academy {
  display: block;
  margin: 0;
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.logo-academy path {
  fill:var(--logo-normal-background);
}

.logo-academy:focus path{
  fill: var(--bright);
}

.logo-academy:hover path {
  fill: var(--bright);
}

.logo-academy:active path{
  fill: var(--logo-pressed-background);
}

/*Hotel page-Main*/
/*Hotel filter form*/

.hotel-filter {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 217px;

  background-color: var(--form-background);
  background-image: 
    url("../img/background_photo_hotels.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hotel-filter-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-left: 72px;
  margin-right: 73px;
  margin-top: 26px;
  margin-bottom: 31px;
}

.infrastructure-item {
  margin: 0;
  margin-right: 119px;
  padding: 0;
  border: none;
}

.infrastructure {
 display: grid;
 gap: 25px;
 margin: 0;
 margin-top: 24px;
 padding: 0;
}

.housing-type-item {
  margin: 0;
  padding: 0;
  border: none;
}

.housing-type {
  display: grid;
  gap: 25px;
  margin: 0;
  margin-top: 24px;
  padding: 0;
}

.hotel-filter-form legend,
.rate {
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.infrastructure,
.housing-type {
  list-style: none;
}

.infrastructure li,
.housing-type li {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

.rate {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
}

.rate-price {
  margin: 0;
  align-content: flex-start;
}

.price {
  margin: 0;
  margin-top: 10px;
  
  display: flex;
  flex-direction: row;
  background-image: url("../img/rectangle_filter.svg"),
                    url("../img/rectangle_filter_small.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.price-input {
  background-color: transparent;
  color: var(--basic-white);
  width: 159px;
  height: 36px;
  text-align: center;
  border: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
}

.price-input::-moz-placeholder {
  color: var(--basic-white);
}

.price-input::-webkit-input-placeholder {
  color: var(--basic-white);
}

.rate-price-slider {
  margin-top: 20px;
}

.rate-price-range-control {
  position: relative;
}

.rate-price-range-control-scale {
  height: 2px;
  background-color: var(--white-active);
  margin-bottom: 32px;
}

.rate-price-range-control-bar {
  height: 2px;
  background-color: var(--basic-white);
  width: 80%;
}

.rate-price-range-control-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 22px;
  cursor: pointer;
  background-image: url("../img/filter_button.svg");
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.rate-price-range-control-toggle:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.show-button {
  display: flex;
  flex-wrap: wrap;
  width: 137px;
  min-height: 36px;
  align-items: center;
  justify-content: center;
  padding: 5px 35px 6px 36px; 
  margin: 0 95px 0 auto;
  cursor: pointer;
}

.show-button,
.show-button:active {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.show-button:hover,
.show-button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.filter-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter-checkbox+label {
  position: relative;
  padding-left: 40px;
}

.filter-checkbox+label::before {
  content: '';
  position: absolute;
  margin-left: 1px;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox_off.svg");
  background-repeat: no-repeat;
}

.filter-checkbox:checked+label::before {
  background-image: url("../img/checkbox_on.svg");
}

.filter-checkbox:disabled+label::before {
  opacity: 0.3;
}


/*Search-results*/

.search-results {
  display: flex;
  flex-wrap: wrap;
  width: 1054px;
  min-height: 86px;
  align-items: flex-start;
  padding-left: 73px;
  padding-right: 73px;
  margin: 0;

  background-color: var(--basic-white);
  border-bottom: 1px solid var(--border-color);
}

.search-results h2 {
  display: flex;
  flex-wrap: wrap;
  width: 135px;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 31px;
  padding-right: 28px;

  font-size: 21px;
  line-height: 26px;
}

.search-results p {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-bottom: 37px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 690px;

  list-style: none;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 36px;
  font-size: 12px;
  line-height: 18px;
}

.sorting-item:first-child {
  padding-right: 32px;
}

.sorting-item:nth-child(2) {
  padding-right: 33px;
}

.sorting-item a {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

.sorting-item:first-child a {
  color: var(--bright);
}

.sorting-item:nth-child(2) a {
  color: var(--black-with-opacity);
  border-bottom: 1px dashed var(--bright);
}

.sorting-item:last-child a {
  color: var(--black-with-opacity);
  border-bottom: 1px dashed var(--bright);
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: var(--bright);
}

.sorting-item a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.arrow-up-down {
  display: flex;
  padding: 0;
  margin-left: auto;
  margin-top: 40px;
}
.arrow-up-down a {
  line-height: 10px;
}

.arrow-up {
  padding-right: 12px;
}

.arrow-up path {
  fill: var(--arrow-up);
}

.arrow-down path {
  fill: var(--bright);
}

.arrow-up:focus path,
.arrow-down:focus path {
  fill: var(--basic-black)
}

.arrow-up:hover path,
.arrow-down:hover path {
  fill: var(--basic-black);
}

.arrow-up:active path,
.arrow-down:active path {
  fill: var(--bright);
}

/*Hotels-search results*/

.results-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 120px;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 30px;

  border-bottom: 1px solid var(--border-color);
}

.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin-top: 30px;
}

.hotel-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 29px;
  min-height: 90px;
  margin-top: 24px;
}


.hotel-item h3 {
  display: flex;
  flex-wrap: wrap;
  width: 258px;
  margin-bottom: 7px;
  margin-top: 0;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotel-item span {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.hotel-item-more-book {
  display: grid;
  column-gap: 6px;
  row-gap: 16px;
  grid-template-columns: 110px 142px;
  justify-items: stretch;
}

.hotel-item-price {
  grid-column-start: 2;
  grid-row-start: 1;
}

.more-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 77px;
  min-height: 21px;
  padding: 3px 16px 3px 17px;

  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--bright);
  border: none;
  cursor: pointer;
}

.book-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 109px;
  height: 21px;
  padding: 3px 17px 3px 16px;

  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
  cursor: pointer;
}

.more-button:hover,
.more-button:focus {
  background-color: var(--bright-hover);
}

.book-button:hover,
.book-button:focus {
  background-color: var(--button-brown-hover);
}

.more-button:active{
  background-color: var(--bright-active);
  color: var(--white-active);
}

.book-button:active{
  background-color: var(--button-brown-active);
  color: var(--white-active);
}

.hotel-rating {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-top: 29px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 90px;
}

.rating {
  width: 110px;
  height: 27px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--rating-color);
  background-color: var(--basic-grey);
}

.stars {
  background-image: url("../img/star.svg");
  background-repeat: space;
  width: 19px;
  height: 17px;
  margin: 0;
}

.stars-1 {
  width: 19px;
}

.stars-2 {
  width: 42px;
}

.stars-3 {
  width: 65px;
}

.stars-4 {
  width: 88px;
}

.stars-5 {
  width: 111px;
}