.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-dark: #333333;
  --basic-brown: #766357;
  --basic-grey: #F2F2F2;
  --bright: #81B3D2;

  --form-background: #888888;
  
  --button-brown-hover:#604E43;
  --button-brown-active:#503E33;
  
  --bright-hover: #669EC0;
  --bright-active: #5496BD;

  --light-grey: #EEEEEE;
  --grey-hover: #EBEBEB;
  --light-brown: #A9A9A9; 
  --footer-color: rgba(255, 255, 255, 0.9);
  --white-active: rgba(255, 255, 255, 0.3);
  --arrow-up: #CACACA;

  --rating-color: #666666;

  --logo-normal-background: #231F20;
  --logo-pressed-background: #BDBBBC;

  --black-with-opacity: rgba(0, 0, 0, 0.3);
  --form-shadow-color: rgba(0, 1, 1, 0.15);
  --border-color: #E5E5E5;
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: none;
}

/* Main navigation */

.main-navigation {
  font-size: 14px; /*Может это не нужно, отнаследуется от body?*/
  line-height: 26px; /*Может это не нужно, отнаследуется от body?*/
  color: var(--basic-black);
  background-position: center;
}

.site-navigation {
  list-style: none;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}

/* User navigation */

.site-navigation a {
  color: var(--basic-black);
}

.nav-link:visited {
  color: var(--black-with-opacity);
}

.nav-link:focus {
  color: var(--bright);
}

.nav-link:hover {
  color: var(--bright);
}

.nav-link:active {
  color: var(--black-with-opacity);
}

/*Index page-Main*/

.background-photo {
  height: 509px;
  text-align: center;
  background-image: 
    url("../img/zigzag.svg"),
    url("../img/background_photo_index.jpg");
  background-repeat: no-repeat;
  background-position: center bottom -2px, center top;
}

/*Features*/

.features {
  text-align: center;
  align-items: center;
  font-size: 21px;
  line-height: 26px;
}

.features h2 {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-dark);
}

.interested-title {
  text-align: center;
  padding-top: 17px;
  font-size: 30px;
  line-height: 24px;
}

.interested-text {
  text-align: center;
  margin-top: 26px;
  line-height: 24px;
  color: var(--basic-dark);
  font-weight: normal;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-list-light {
  color: var(--basic-white);
  background-color: var(--bright);
}

.features-list-light h3 {
  font-size: 21px;
  line-height: 21px;
}

.features-list-light p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.feature-item {
  list-style: none;
  background-color: var(--basic-white);
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.feature-item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark);
}

.features-list-dark {
  background-color: var(--light-grey);
}

.features-list-dark h3 {
  font-size: 21px;
  line-height: 21px;
}

.features-list-dark p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark);
}

/*Button navigation*/

.search-button {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  border: none;
}

.search-button:hover,
.search-button:focus {
  background-color: var(--button-brown-hover);
}

.search-button:active {
  color: var(--white-active);
  background-color: var(--button-brown-active);
}

/*Hotel search form*/

.form {
  position: absolute;
  background: var(--basic-white);
  box-shadow: 0px 7px 15px var(--form-shadow-color);
}

.search-item label {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
}

.search-item input {
  background-color: var(--basic-grey);
  border: none;
}

.search-item input:hover {
  background-color: var(--grey-hover);
}

.search-item input:focus {
  background: var(--basic-white);
  border: 2px solid var(--border-color);
  box-sizing: border-box;
}

.button-minus,
.button-plus,
.button-calendar {
  fill: var(--light-brown);
  background-color: var(--basic-grey);
  border: none;
  margin: 0;
}

.button-minus:hover rect,
.button-minus:focus rect,
.button-plus:hover path,
.button-plus:focus path,
.button-calendar:hover path,
.button-calendar:focus path {
  fill: var(--basic-black);
}

.button-minus:active rect,
.button-plus:active path,
.button-calendar:active path {
  fill: var(--bright);
} 

.submit-button {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--bright);
  border: none;
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--bright-hover);
}

.submit-button:active {
  color: var(--white-active);
  background-color: var(--bright-active);
}

/* Footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--footer-color);
}

.footer-contacts a {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--bright);
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social li {
  margin-left: 5px;
  margin-bottom: 8px;
  width: 46px;
  height: 48px;
  background-color: var(--bright);
}

.social-button {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.social-button:focus {
  background-color: var(--bright-hover);
}

.social-button:hover {
  background-color: var(--bright-hover);
}

.social-button:active path{
  background-color: var(--bright-active);
  fill: var(--white-active);
}

.footer-copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin-top: 10px;
  margin-right: 8px;
}

.logo-academy path {
  fill:var(--logo-normal-background);
}

.logo-academy:focus path{
  fill: var(--bright);
}

.logo-academy:hover path {
  fill: var(--bright);
}

.logo-academy:active path{
  fill: var(--logo-pressed-background);
}

/*Hotel page-Main*/
/*Hotel filter form*/
.hotel-filter-form {
  text-align: center;
  background-color: var(--form-background);
  background-image: 
    url("../img/background_photo_hotels.jpg");
  background-repeat: no-repeat;
}

.hotel-filter-form legend,
.rate {
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.infrastructure,
.housing-type {
  list-style: none;
}

.infrastructure li,
.housing-type li {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

.show-button,
.show-button:active {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.show-button:hover,
.show-button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}


/*Search-results*/

.search-results {
  background-color: var(--basic-white);
  border-bottom: 1px solid var(--border-color);
}

.sorting {
  list-style: none;
}

.search-results h2 {
  font-size: 21px;
}

.search-results p {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.search-results a {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

.sorting-item:first-child a {
  color: var(--bright);
}

.sorting-item:nth-child(2) a {
  color: var(--black-with-opacity);
  border-bottom: 1px dotted var(--bright);
}

.sorting-item:last-child a {
  color: var(--black-with-opacity);
  border-bottom: 1px dotted var(--bright);
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: var(--bright);
}

.sorting-item a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.arrow-up path {
  fill: var(--arrow-up);
}

.arrow-down path {
  fill: var(--bright);
}

.arrow-up:focus path,
.arrow-down:focus path {
  fill: var(--basic-black)
}

.arrow-up:hover path,
.arrow-down:hover path {
  fill: var(--basic-black);
}

.arrow-up:active path, /*НЕ РАБОТАЕТ!!!!???*/
.arrow-down:active path {
  fill: var(--bright);
}

/*Hotels-search results*/

.results-list {
  list-style: none;
}

.results-list h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
}

.results-list span {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
}

.more-button {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--bright);
    border: none;
}

.book-button {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-brown);
    border: none;
}

.more-button:hover,
.more-button:focus {
  background-color: var(--bright-hover);
}

.book-button:hover,
.book-button:focus {
  background-color: var(--button-brown-hover);
}

.more-button:active{
  background-color: var(--bright-active);
  color: var(--white-active);
}

.book-button:active{
  background-color: var(--button-brown-active);
  color: var(--white-active);
}

.rating {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--rating-color);
  background-color: var(--basic-grey);
}

.stars {
  background-image: url("../img/star.svg");
  background-repeat: space;
  width: 19px;
  height: 17px;
}

.stars-1 {
  width: 19px;
}

.stars-2 {
  width: 43px;
}

.stars-3 {
  width: 67px;
}
/*Не могу понять, почему 4 звезды вставляет 5 звезд, а 5-вставляет 6 звезд?Или это еще не нужно делать? Я считала так: 19*4+5*3=91(ширина звезд и 5-расстояние между звездами)*/
.stars-4 {
  width: 91px;
}

.stars-5 {
  width: 115px;
}